@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #222222;
  --background: #FFFFFF;
  --accent: #E5E7EB;
  --foreground: #222222;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar for premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #222222;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444444;
}

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold tracking-tight text-[#222222];
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}